/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .logo img {
    height: 60px;
    width: auto;
    transition: transform 0.3s;
}

.header .logo img:hover {
    transform: scale(1.1);
}

/* Menu */
.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #F1A526;
}

/* Container do Calendário e Formulário */
.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 40px;
    max-width: 2000px;
    margin: 10px auto;
}

#calendar {
    width: 75%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #F1A526;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calendar-header .month-year {
    font-size: 26px;
    font-weight: bold;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px 0;
}

.calendar-day {
    padding: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-day:hover {
    background-color: #F1A526;
    color: white;
}

.calendar-day.disabled {
    color: #ddd;
    cursor: not-allowed;
}

.bolinhas-container {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 5px;
}

.bolinha {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}


/* Formulário */
#booking-form {
    width: 25%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#booking-form h2 {
    margin-bottom: 20px;
    color: #333;
}

#booking-form label {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

#booking-form input, 
#booking-form select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#booking-form button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease-in-out;
}

#booking-form button:hover {
    background-color: #0056b3;
}

input[type="date"] {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
input[type="date"]:hover, input[type="date"]:focus {
    border-color: #388E3C;
    box-shadow: 0 0 8px rgba(72, 187, 120, 0.5);
}
/* Rodapé */
.footer {
    text-align: center;
    padding: 25px;
    background-color: #F1A526;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}