* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Fonte moderna */
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    background-image: url('/assets/login/moradores.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.login-form {
    background-color: white;
    padding: 90px;
    border-radius: 10px;
    width: 600px;
    text-align: left;
    border: none;
    box-shadow: none;
}

.login-form h2 {
    margin-bottom: 30px;
    font-size: 26px;
}

.login-form label {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
}

.login-form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-form .forgot-password {
    display: block;
    margin-top: 5px;
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

.login-form .forgot-password:hover {
    text-decoration: underline;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #F1A526;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login-form button::after {
    content: "→";
    font-size: 20px;
    color: white;
}

.login-form button:hover {
    background-color: #e18717;
}

.bottom-buttons {
    background-color: #FFD898;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.bottom-buttons a {
    color: #F1A526;
    font-size: 16px;
    text-decoration: none;
}

.bottom-buttons a:hover {
    text-decoration: underline;
}
