* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    background-image: url('/assets/login/moradores.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
}

.login-form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #F1A526;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border-radius: 5px; /* Bordas arredondadas */
}

.login-form button:hover {
    background-color: #e18717;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.bottom-buttons {
    background-color: #FFD898;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-buttons a {
    color: #F1A526;
    font-size: 14px;
    text-decoration: none;
}

.bottom-buttons a:hover {
    text-decoration: underline;
}
