/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .logo img {
    height: 60px; /* Ajuste da logo */
    width: auto;
    transition: transform 0.3s;
}

.header .logo img:hover {
    transform: scale(1.1); /* Efeito de hover na logo */
}

/* Menu */
.menu ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaço entre os itens */
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

/* Efeito de Hover nas Letras */
.menu a:hover {
    color: #F1A526; /* Muda a cor do texto ao passar o mouse */
}

/* Conta do Usuário */
.user-icon img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/* Container do Catálogo */
.catalogo-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.catalogo-container h1,
.catalogo-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filtros input,
.filtros select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.produto {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

.produto p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.produto span {
    font-size: 16px;
    font-weight: bold;
    color: #e18717;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #F1A526;
    color: white;
    margin-top: 30px;
    font-size: 14px;
    border-radius: 8px;
}
