<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário de Agendamentos</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/agender/agender.css"> <!-- Atualizado o caminho do CSS -->
    <link rel="icon" href="/assets/login/logo.png" type="image/png">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="/assets/login/logo.png" alt="Logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/layouts/product.html">Produtos</a></li>
                <li><a href="/layouts/agender.html">Agendamento</a></li>
                <li><a href="/layouts/account.html" class="user-icon">
                    <img src="/assets/product/user.png" alt="Conta do Usuário" style="height: 30px; width: auto;"> <!-- Ajustado o tamanho do ícone -->
                </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <div id="calendar"></div>
            
            <form id="booking-form">
                <h2>Fazer Agendamento</h2>
                <label for="datetime">Data e Hora:</label>
                <input type="datetime-local" id="datetime" req  uired>
                
                <label for="space">Espaço:</label>
                <select id="space" required>
                    <option value="default">Selecione um Espaço</option>
                    <option value="salao_de_festas">Salão de Festas</option>
                    <option value="piscina">Piscina</option>
                    <option value="churrasqueira">Churrasqueira</option>
                    <option value="quadra">Quadra</option>
                    <option value="academia">Academia</option>
                    <option value="espaco_gourmet">Espaço Gourmet</option>
                </select>
                
                <label for="name">Nome:</label>
                <input type="text" id="name" required>
                
                <button type="submit">Agendar</button>
            </form>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2025 CondoConnect. Todos os direitos reservados.</p>
    </footer>

    <script src="/scripts/agender/agender.js"></script> <!-- Atualizado o caminho do JS -->
</body>
</html>
