<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesse o CondoConnect</title>
    <link rel="stylesheet" href="/styles/login/login.css">
</head>
<body>
    <div class="container">
        <div class="left-side"></div>
        <div class="right-side">
            <form class="login-form">
                <h2>Acesse o CondoConnect</h2>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
                <a href="#" class="forgot-password">Esqueci a senha</a>
                <button type="submit">Entrar</button>
            </form>
            <div class="bottom-buttons">
                <a href="#" class="register">Cadastre-se</a>
                <a href="#" class="resident-portal">Portal do Morador</a>
            </div>
        </div>
    </div>
</body>
</html>
